<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<br>
    <h1>hi {{session['user']}} welcome  to flask</h1>
    <br>
    <form action="logout" method="post">
        <button type="sumbit">logout</button>
    </form>
    <br></br> 
    <form action="/update_password_form" method="post">
        <button>update password</button>
    </form>
    <br></br> 
    <form action="/delete_user/{{session['user']}}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button>delete user</button>
    </form> 
</body>
</html>